<div id="quiz_container" class="container Q1_background">

 <div class="row-fluid">

          <div class="span2"></div>
          <ul class="nav nav-tabs" role="tablist">
            <li class="active font_nav_bar_subj"><a href="#">Space</a></li>
            <li class="font_nav_bar_subj"><a href="#">Geography</a></li>
            <li class="font_nav_bar_subj"><a href="#">Biology</a></li>
            <li class="font_nav_bar_subj"><a href="#">Grammer</a></li>
            <li class="font_nav_bar_subj"><a href="#">Chemistry</a></li>
            <li class="font_nav_bar_subj"><a href="#">Physics</a></li>
          </ul>




  <div class="span6" style="margin-top:30px;padding-bottom:50px;">

    <p class="Arial_Rd_Red_40 margin-left_20">Solar System</p>
     <div class="margin_30 Arial_Rd_Grey_25 line_height_150">You can try to answer these 4 questions, <br>or you can

    <a href="#" data-toggle="adaptive-modal" 
    data-title="<h1>Our Solar System</h1><p>Space, in its infinity and mystery has captivated humanity throughout the ages. Today probably more so. We have learned that our Sun is a relatively middleaged star at 4.5 billion years. One of the greatest achievements of the last century was successfully landing a man on the moon in 1969. Many years of research and difficult preparation enabled this to happen. The astronauts had many procedures to learn and ways in which to adapt their familiar routines to suit the confined space of an spacecraft in zero gravity, however they could have 3 packaged meals a day, including fruit and vegetables.

    <p>Saturn's rings are made mostly of countless small particles of dust, ice and rock. There is still no consensus as to their mechanism of formation, theoretical models suggest they were formed ear in the solar system's history, while some features of the rings suggest a relatively recent origin. </p>" data-am-custom-class="modal_margin"

data-am-custom-bgcolor="#66ff66"><button type="button" class="btn btn-large btn-outline">Read Here</button></a>
 to get the facts
</div>


   <div id="question" class="question"></div>

   <div id="answer">
        <!--<ul id="answer">
          <li class="number">word</li> <span class="answer"></span>
          <br /><br />

          <li class="number">2.</li>  <span class="answer"></span>
          <br /><br />

          <li class="number">3.</li>  <span class="answer"></span>
          <br /><br />
          <li class="number">4.</li>  <span class="answer"></span>
          <br /><br />      
        </ul>-->
        </div>    


       <div id="next_button">
          <!--<span class="Arial_Rd_Grey_25"> <a href="#">More Space info!</a></span> -->
           <a href="#" data-toggle="adaptive-modal" 
    data-title="<h1>What Is The Solar System?</h1> 

<p>The Solar System is made up of all the planets that orbit our Sun. In addition to planets, the Solar System also consists of moons, comets, asteroids, minor planets, and dust and gas.</p>

<p>Everything in the Solar System orbits or revolves around the Sun. The Sun contains around 98% of all the material in the Solar System. The larger an object is, the more gravity it has. Because the Sun is so large, its powerful gravity attracts all the other objects in the Solar System towards it. At the same time, these objects, which are moving very rapidly, try to fly away from the Sun, outward into the emptiness of outer space. The result of the planets trying to fly away, at the same time that the Sun is trying to pull them inward is that they become trapped half-way in between. Balanced between flying towards the Sun, and escaping into space, they spend eternity orbiting around their parent star.
How Did The Solar System form?</p>

<p>This is an important question, and one that is difficult for scientists to understand. After all, the creation of our Solar System took place billions of years before there were any people around to witness it. Our own evolution is tied closely to the evolution of the Solar System. Thus, without understanding from where the Solar System came from, it is difficult to comprehend how mankind came to be.</p>

<p>Scientists believe that the Solar System evolved from a giant cloud of dust and gas. They believe that this dust and gas began to collapse under the weight of its own gravity. As it did so, the matter contained within this could begin moving in a giant circle, much like the water in a drain moves around the center of the drain in a circle.</p>

<p>At the center of this spinning cloud, a small star began to form. This star grew larger and larger as it collected more and more of the dust and gas that collapsed into it.</p>

<p>Further away from the center of this mass where the star was forming, there were smaller clumps of dust and gas that were also collapsing. The star in the center eventually ignited forming our Sun, while the smaller clumps became the planets, minor planets, moons, comets, and asteroids.</p>
A Great Storm

<p>Once ignited, the Sun's powerful solar winds began to blow. These winds, which are made up of atomic particles being blown outward from the Sun, slowly pushed the remaining gas and dust out of the Solar System.</p>"


data-am-custom-bgcolor="#FFCCFF"><button type="button" class="btn btn-large btn-danger">More Info!</button></a>

         </div>


         <a href="index.html.erb" id="try" class="try"></a>

          <!--<div id="try" class="try"><%= link_to "Try Again", :controller => "questions",  :action => "index" %></div>-->
  </div><!-- span6 -->

  <div class="span2">

      <div class="row">
    <div id="countdown"></div>
    </div>

  </div>

  <div class="row-fluid">
  <div class="span4">
   

          <div class="row">
            <div id="score_text" style="padding-top:45px;">
            <span class="Arial_Rd_Pink_34">SCORE</span>
            </div><!-- score_text-->

            <div id="score">
              <span class="Arial_Rd_DkGreen_40"></span>
            </div> <!-- score-->
          </div><!-- row-->



 <div class="row">
    <div id="slides">


        <div id="slides_1">
          <%= image_tag("tick.png") %>
        </div>
        <div id="slides_2">
          <%= image_tag("tick.png") %>
        </div>
        <div id="slides_3">
          <%= image_tag("tick.png") %>
        </div>  
        <div id="slides_4">
          <%= image_tag("tick.png") %>
        </div>     
      </div><!-- slides-->

    </div><!-- row-->

  </div><!-- span4-->
  </div><!-- row-fluid -->






</div> <!-- row-fluid -->
</div> <!-- container -->
