<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @construct_two.title %>
</p>

<p>
  <b>Description:</b>
  <%= @construct_two.description %>
</p>


<%= link_to 'Edit', edit_construct_two_path(@construct_two) %> |
<%= link_to 'Back', construct_twos_path %>
